 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
 }

 body{
    background:#222 ;
    background-image: url(https://i.pinimg.com/736x/c1/a3/8d/c1a38d47574f7865b4fcbd299938eb67.jpg);
    background-position:left;
     background-repeat: no-repeat;
    
 }

 #card{
    width: 90%;
    max-width: 470px;
    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 margin: 100px auto 0;
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    position: absolute;
    top: -5%;
    left: 30%;
    
 }

 #search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }


 #search input{
border: 0;
outline: 0;
background:#ebfffc;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;
flex: 1;
margin-right: 16px;
font-size: 18px;
 }

 #search button{
    border: 0;
outline: 0;
background:#ebfffc;
border-radius: 50%;
width: 60px;
height: 60px;
cursor: pointer;

 }

 #search button img{
    width: 16px;
 }

 .weather-icon{
    width: 170px;
    margin-top:30px ;
 }

#weather h1{
    font-weight: 400;
    font-size: 80px;
    margin-top: -10px;
}
#details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20 px;
    margin-top:50px ;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right:10px ;
}

.humidity, .wind{
    font-size: 28px;
   margin-top:-6px;
}

/* Responsive Design */

        /* Mobile (up to 767px) */
        @media (max-width: 767px) {
            .calculator-container {
                padding: 15px;
                border-radius: 15px;
            }
            
            .display {
                height: 100px;
                padding: 15px;
            }
            
            .previous-operation {
                font-size: 1rem;
            }
            
            .current-operation {
                font-size: 2rem;
            }
            
            .button {
                height: 60px;
                font-size: 1.3rem;
            }
            
            .buttons-grid {
                gap: 10px;
            }
            
            .device-icon:nth-child(1) {
                opacity: 1;
                color: #4cd964;
            }
        }

        /* Tablet (768px to 1023px) */
        @media (min-width: 768px) and (max-width: 1023px) {
            .calculator-container {
                max-width: 450px;
                padding: 25px;
            }
            
            .display {
                height: 130px;
                padding: 25px;
            }
            
            .current-operation {
                font-size: 2.8rem;
            }
            
            .button {
                height: 75px;
                font-size: 1.6rem;
            }
            
            .device-icon:nth-child(2) {
                opacity: 1;
                color: #4cd964;
            }
        }
